*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-img-container
{
    cursor: pointer;
}
.header-container
{
    background-color: var(--bs-primary);
    color: var(--bs-light);
    height: 60px;
}
.has-in:hover,.has-bars:hover
{
    color: var(--bs-warning);
    border-color:var(--bs-light);
}
.nav-img-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
}
.nav-img-container p
{
    font-size: 12px;
    font-weight: 600;
}
.nav-img-container p span
{
    color: var(--bs-warning);
    font-weight: 600;
}
.cart-count
{
    position: absolute;
    left: 66.9%;
    top: 2%;
    background-color:var(--bs-danger);
    color: var(--bs-light);
    padding: 0px 4px;
    font-size: 12px;
    border-radius: 50%;
}
.article-nav-bar
{
    background-color: var(--bs-light);
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1);
}
.article-nav-menu
{
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 80px;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
}
.article-nav-bar li
{
    cursor: pointer;
}
.article-nav-bar li:hover
{
    color: var(--bs-primary);
    
}