@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;

}

.header-container {
    width: 100%;
    background-color: var(--bs-light);
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 2000;

}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}



.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 70px;
    height: 100px;
    margin-top: 17px;
    cursor: pointer;

}

.main-container {
    background-color: #f1f2f4;
    height: 1000px;
}

.has-in {
    border-radius: 6px;
    position: relative;
    padding: 8px;

}

.has-in:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--bs-primary);
    transition: all 0.5s;
}

.dropdown-data {
    position: absolute;
    top: 43px;
    width: 180px;
    left: 0;
    color: black;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1),
        -1px -2px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: 3px;
    filter: blur(0.1px);
    height: 290px;
    padding: 0;
    visibility: hidden;
    transition: all 0.4s;
      font-size: 15px;
    border-radius: 5px;
}

.dropdown-data li {
    display: block;
    padding: 13px 20px;
}

.dropdown-data li:hover {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    transition: all 0.5s;
   
}

.has-in:hover .dropdown-data {
    visibility: visible;
}

.has-inter {
    list-style: none;
}

.nav-login-container {
    position: relative;


}

.bars-container {
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
}

.bars-container:hover {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--bs-primary);
    border-radius: 5px;
}

.drop-content {
    position: absolute;
    top: 45px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1),
        -1px -2px 12px rgba(0, 0, 0, 0.1);
    width: 220px;
    list-style: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(--bs-light);
    visibility: hidden;
    color: #000;
    transition: all 0.5s;
    padding: 0;
    z-index: 200000;
}
.drop-content li
{
    display: block;
    padding: 10px 12px;
    font-size: 14px;
}
.drop-content li:hover
{
    background-color: var(--bs-primary);
    color: var(--bs-light);
    transition: all 0.4s;
    cursor: pointer;
}
.has-bars
{
    list-style: none;
}
.has-bars:hover .drop-content
{
    visibility: visible;
}
.fa-magnifying-glass
{
    font-size: 19px;
    color: #af9797;
}
.serchbar
{
    width: 600px;
    background-color: #f1f2f4;
    padding: 5px;
    display: flex;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
    -1px -1px 2px rgba(0, 0, 0, 0.1);
    gap: 10px;
    border-radius: 4px;
}
::placeholder
{
    color: #af9797;
}
input[type="text"]
{
    outline: none;
    border: transparent;
    flex: 1;
    width: 100%;
    background-color: transparent;
}
.cart-icon
{
    position: relative;
}
.cart-count
{
    position: absolute;
    left: 68.4%;
    top: 15.3%;
    background-color:var(--bs-danger);
    color: var(--bs-light);
    padding: 0px 6px;
    font-size: 14px;
    border-radius: 50%;
}
.categories-container
{
    width: 100%;
    margin: auto;
    height: auto;
    
  
}
.categories-container-files
{
    width: 80%;
    margin: auto;
      background-color: #ffffff;
    margin-top: 10px;
    margin: 10px auto;
   
}
.categories-img
{
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
  
}
.categories-products
{
    display: flex;
    flex-direction: column;
    line-height: 1px;
    gap: 5px;
}
.categories-products-img img
{
    border-radius: 50%;
    padding: 10px;
    width: 90px;
    height: 90px;
     object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.categories-products-name h5
{
    font-size: 14px;
    font-weight: 600;
}
.crousel-container
{
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    height: 280px;
    position: relative;
}
.carousel-indicators
{
    position: absolute;
    top: 255px;
    transition: all 0.5s;
}
.right
{
    position: absolute;
    top: 90px;
    right: 0;
    cursor: pointer;
     width: 35px;
    background-color: #fff;
    color: #000;
    opacity:10;
    font-size: 12px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left
{
   position: absolute;
    top: 90px;
    left: 0;
    cursor: pointer;
     width: 35px;
    background-color: #fff;
    color: #000;
    opacity:10;
    font-size: 12px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

